.mid-main
{
  display: flex;
  flex-direction: row ;
  width: 100%;
  height: 100%;
  color: white;
}

.mid-left
{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 75%;
  height: 100%;
}

.mid-right
{
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 25%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid white;
  object-fit: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
}

.mid-hourly-main
{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mid-hourly
{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* cursor: ew-resize; */
}

.mid-hourly-sets
{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 2px;
  margin: 5px;
  border-radius: 8px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
}

.mid-hourly::-webkit-scrollbar,.mid-right::-webkit-scrollbar
{
  width: 0;
}
.mid-details
{
  height: 100%;
}
.mid-details-sub1
{
  display: flex;
  flex-direction: column;
  padding: 5vh 2vw 5vh 2vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.img-div
{
  display: flex;
  flex: auto;
  width: 23%;
  height: 33%;
}
.mid-details-sub1 img {
  width: 100%;
  height: 100%;
}

.mid-sub1-current-temp {
  width: 100%;
  height: 10vh;
  margin-top: -10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(4vw + 4vh);
  font-family: 'Rubik Bubbles', sans-serif;
}

.mid-sub1-current-text {
  font-size: calc(1.5vw + 1vh);
  align-items: center;
  padding: 10px;
  justify-content: center;
  overflow-wrap: break-word;
}

.mid-sub1-current-loc {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  word-break: break-all;
  font-size: calc(0.8vw + 0.6vh);
}

.mid-other {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
  justify-content: center;
  align-items: center;
}

.mid-other-inner {
  padding: 0 20px 0 20px;
  font-size: calc(0.6vw + 0.8vh);
}


.mid-right-part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 3px solid white;
}

.mid-right-part1-heading {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
}

.mid-right-part1-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.mid-right-part1-air-left {
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
}

.mid-right-part1-air-right::before {
  content: " ";
}

@media screen and (max-width: 1250px) {
  .mid-details-sub1 img {
    width: 120%;
    height: 100%;
  }

  .mid-right{
    width: 35%;
    /* background-color: aqua; */
  }

  .mid-left{
    width: 65%;
    /* background-color: aqua; */
  }

  .mid-sub1-current-loc {
    font-size: calc(1.0vw + 1.0vh);
  }

  .mid-sub1-current-text {
    font-size: calc(2.2vw + 2.0vh);
  }
}

@media screen and (max-width: 850px) {

  .mid-sub1-current-temp {
    font-size: calc(5vw + 9vh);
  }

  .img-div
  {
    display: flex;
    flex: auto;
    width: 50%;
    height: 20%;
    /* margin-bottom: -15px; */
    /* display: none; */
  }

  .mid-details-sub1 img {
    width: 100%;
    height: 90%;
  }

  .mid-main{
    display: flex;
    flex-direction: column ;
    height: 100%;
  }

  .mid-left{
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .mid-right{
    /* width: 100%;
    height: 100%;
    overflow-y: scroll;
    object-fit:contain; */
    display: none;
  }

  .mid-sub1-current-loc {
    font-size: calc(1.2vw + 1.2vh);
  }

  .mid-other-inner {
    font-size: calc(0.8vw + 1.0vh);
  }

}
