.mid-main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .mid-main-img {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
  }
  
  /* Media query for smaller screens such as phones */
  @media screen and (max-width: 750px) {
    .mid-main-img {
      width: 70%;
    }
  }
  
  .mid-main-img img {
    width: 40%;
    height: 50%;
    max-width: 100%;
    max-height: 60vh;
  }
  
  .mid-temp {
    color: white;
    width: 100%;
    height: 10vh;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(4vw + 4vh);
  }

  .mid-text
  {
    color: white;
    font-size: calc(1.5vw + 1vh);
    margin-top: 20px;
  }
  
  .mid-loc {
    color: white;
    width: 100%;
    padding: 0%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break:break-all;
    font-size: calc(0.9vw + 0.5vh);
  }

  .mid-text
  {
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
  }


  @media screen and (max-width: 750px) {
    .mid-temp {
      font-size: calc(3vw + 3vh);
    }

    .mid-text
    {
      font-size: calc(2vw + 1.5vh);
    }
  
    .mid-loc {
      font-size: calc(3vw + 0.5vh);
    }
  }
  